*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    width: 100%;
    height: 100px;
    padding: 0px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
}

.logo h3{
    height: 20px;
    font-size: 24px;
}
.logo img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.list li {
    font-size: 17px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 52px;
    padding-left: -20px;
    color: black;

}

.list a {
    text-decoration: none;
}

.header-top {
    display: flex;
    margin-left: 160px;
}

.left-header img{
    width: 500px;
    height: 440px;
    margin-left: 30px;
    margin-right: 40px;
    top: 140px;
}

.right-header {
    width: 450px;
    height: 300px;
    margin-top: 160px;
}
.right-header h1 {
    font-size: 40px;
}
.right-header p {
    font-size: 15px;
    width: 290px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.right-header button  {
        width: 160px;
        height: 50px;
        border-radius: 32px;
        background-color: #DC3845;
        font-size: 20px;
        color: white;
        border: none;
}
.section1 {
    width: 320px;
    font-size: 20px;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 180px;

}
.card {
    padding: 12px;
    width: 150px;
    height: 200px;
    margin-left: 30px;
    margin-right: 170px;
}
.card h5 {
    font-size: 20px;
}
.card img{
    width: 120px;
    height: 120px;

}
.section2 {
    display: flex;
    width: 100%;
    height: 550px;
}

.left-section {
    width: 340px;
    height: 270px;
    margin-top: 200px;
    margin-left: 200px;
}
.left-section h1 {
    width: 200px;
    font-size: 25px;
    margin-bottom: 30px;
}
.left-section p {
    font-size: 15px;
    width: 280px;
}

.right-section img {
    width: 450px;
    height: 450px;
    margin-top: 60px;
    margin-left: 150px;
    margin-bottom: 60px;
    
}

.btn {
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 32px;
    background-color: #DC3845;
    font-size: 20px;
    color: white;
    border: none;
}

.section3 h3 {
    display: inline;
    align-items: center;
    justify-content: center;
}
.gifts {
    width: 900px;
    display: flex;
    margin-left: 320px;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 120px;

}
.gift {
    width: 200px;
    margin-left: 40px;
    height: 250px;
    background-color: #301D1E1A;
    border-radius: 8px;

}
.gift h5 {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 60px;

} 
.gift p {
    font-size: 15px;
    margin-left: 12px;
    margin-top: 12px;
}

.heart {
    width: 20px;
    height: 20px; 
    margin-bottom: 90px;
    margin-left: 45px;
}

.img1 {
    width: 120px;
    height: 120px;

}

.center {
    font-size: 25px;
}

.new {
    font-size: 25px;
    font-weight: 500;
    margin  : 50px;
}
.images {
    padding: 5
    0px 300px;
    position: absolute;
    /* background-color: red; */
}

.image {
    margin-bottom: 300px;
    display: flex;
    width: 250px;
    border: 3px solid red;
    height: 300px;
    margin-left: 250px;
    border-radius: 12px;
}

.image img {
    width: 150px;
    height: 150px;
}

.like {
    background-color: yellow
}

.section5{
    background-color: red;
    margin-top: 600px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

.letter img{
    width: 320px;
    height: 220px;
}